.PokemonCard {
  min-width: 450px;
  display: flex;
  flex-direction: row;
  background-color: white;
  font-size: 20px;
  color: #282c34;
  margin: 12px;
  border-radius: 20px 0 20px 0;
}

.PokemonCard-left {
  text-align: left;
  padding: 15px;
}

.PokemonCard-image {
  padding: 15px;
}
